* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161515;
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 90px;
}

.top-line {
    width: 100%;
    height: 5px;
    background-color: #9af532;
    position: fixed;
    top: 0;
    z-index: 101;
}

/* Barra de menu */
.menu-toggle {
    display: none;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 5px;
    z-index: 100;
    background-color: #161515;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.top-bar.is-hidden {
    transform: translateY(-120%);
}

.top-bar .logo-container,
.top-bar .menu {
    max-width: 525px;
    width: 100%;
}

.top-bar .menu {
    justify-content: space-between;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: left;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

/* Sessão 1 */
.session-1 {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.saiba-como,
.image-1 {
    flex: 1;
    max-width: 500px;
    height: auto;
    position: relative;
    bottom: -5px;
}

.session-2,
.session-3,
.session-4,
.session-5 {
    scroll-margin-top: 100px;
}

/* Sessão 2 */
.session-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.sub-session-2 {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.image-2 {
    flex: 1;
    max-width: 400px;
    height: auto;
    position: relative;
    top: -30px;
}

.porque-doi {
    flex: 1;
}

.text-3,
.text-4 {
    margin-bottom: 20px;
}

/* Sessão 3 */
.session-3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #000;
}

/* Sessão 6 */
.session-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.sub-session-3 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 30px 0;
}

.text-5 {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Sessão 4 */
.session-4 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.text-7 {
    flex: 1;
    max-width: 900px;
    text-align: center;
}

.sub-session-4 {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.list-2,
.list-3 {
    flex: 1;
}

/* Sessão 5 */
.session-5 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.text-8 {
    width: 70%;
    flex: 1;
    padding: 0 50px;
    margin: 30px 0;
    justify-content: center;
    text-align: center;
}

.sub-session-5 {
    width: 100%;
    display: flex;
    gap: 40px;
}

.image-4 {
    width: 400px;
    height: auto;
    padding: 10px;
}

/*sessão 6 */
.sub-session-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 30px 0;
    width: 70%;
    flex: 1;
}

.line {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.text-9 {
    max-width: 650px;
    gap: 50px;
    flex: 1;
    display: flex;
    align-items: center;
}

.text-10 {
    font-size: 25px;
    text-align: left;
    line-height: 1;
    font-weight: bold;
}

/* Tipografia */
h1 {
    margin-bottom: 10px;
    font-size: 60px;
    text-align: left;
    color: white;
    line-height: 1.1;
}

h2 {
    position: relative;
    width: 400px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    z-index: 1;
}

.text-5-1::after,
.text-9-1::after {
    display: flex;
    flex: 1;
    width: 400px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 2px rgb(124, 124, 124);
}

.text-5-1::after {
    content: "muitos acham a experiência suportável";
}

.text-9-1::after {
    content: "Gostou?";
}

span {
    color: #9af532;
}

p {
    font-size: 20px;
    text-align: left;
    color: white;
    line-height: 1.5;
}

.obs,
.obs-2 {
    display: inline;
    background-color: #9af532;
    color: #000;
    text-align: left;
    padding: 5px 20px;
    line-height: 2.3;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.obs-2 {
    font-size: 24px;
}

a {
    font-size: 20px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: none;
    color: #9af532;
}

.list-item {
    display: grid;
    grid-template-columns: 20px auto;
    list-style: none;
    margin-left: 10px;
}

.base-line {
    width: 100%;
    height: 25px;
    background-color: #9af532;
}

/* ========== mobile ============ */

@media (max-width: 600px) {

    .top-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
    }

    .logo-container {
        justify-content: flex-start;
        width: auto;
    }

    /* Botão Hambúrguer */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 110;
    }

    .menu-toggle span {
        width: 100%;
        height: 3px;
        background-color: #9af532;
        transition: all 0.3s ease;
    }

    /* O MENU SUSPENSO: escondido acima da tela */
    .menu {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #161515;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
        transform: translateY(-150%);
        transition: transform 0.4s ease-in-out;
        z-index: 105;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .nav-link {
        font-size: 20px;
    }

    .top-bar.menu-open .menu {
        transform: translateY(0);
    }

    /* ANIMAÇÃO DO BOTÃO */
    .top-bar.menu-open .menu-toggle span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .top-bar.menu-open .menu-toggle span:nth-child(2) {
        opacity: 0;
    }
    .top-bar.menu-open .menu-toggle span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .session-2,
    .session-3,
    .session-4,
    .session-5 {
        scroll-margin-top: 160px;
    }

    /* Sessão 1 */
    .session-1 {
        flex-direction: column;
        padding: 30px 40px 0;
    }

    .saiba-como {
        text-align: center;
        max-width: 100%;
    }

    .image-1 {
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
        height: 320px;
    }

    .image-1 img {
        width: 100%;
        height: 300px;
        display: block;
        object-position: top;
        object-fit: cover;
        object-position: top;
        margin-bottom: 5px;
    }

    /* Sessão 2 */
    .sub-session-2 {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 40px;
        gap: 20px;
    }

    .porque-doi h1 {
        margin-bottom: 20px;
    }

    .image-2 {
        top: 0;
        margin: 20px 0;
        width: 100%;
    }

    .image-2 img {
        width: 100%;
        height: auto;
    }

    .porque-doi {
        width: 100%;
    }

    .text-3 p,
    .text-4 p {
        text-align: center;
    }

    .list {
        display: inline-block;
        text-align: left;
    }

    /* Sessão 3 */
    .session-3 {
        padding-bottom: 10px;
    }

    .sub-session-3 {
        flex-direction: column;
        padding: 0 40px;
        margin: 10px 0;
    }

    .text-5 {
        width: 100%;
        justify-content: center;
    }

    .text-5-1,
    .text-9-1 {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    .text-5-1::after,
    .text-9-1::after {
        font-size: 40px;
        width: 100%;
        left: 5px;
        top: 5px;
    }

    .text-6 {
        width: 100%;
    }

    .text-6 .obs {
        text-align: center;
    }

    /* Sessão 4 */
    .session-4 {
        padding: 10px 30px;
    }

    .text-7 {
        font-size: 28px;
        text-align: center;
        max-width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .sub-session-4 {
        display: block;
    }

    .image-3 {
        display: block;
        max-width: 300px;
        width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }

    .list-2 {
        width: 100%;
    }

    /* Sessão 5 */
    .session-5 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .text-8 {
        font-size: 28px;
        width: 100%;
        padding: 0 40px;
        text-align: center;
        margin: 15px 0;
    }

    .sub-session-5 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 40px;
    }

    .image-4 {
        width: 100%;
        height: 150px;
        padding: 0;
        object-fit: cover;
        object-position: center;
    }

    .list-3 {
        width: 100%;
    }

    /* Sessão 6 */
    .sub-session-6 {
        flex-direction: column;
        width: 100%;
        padding: 0 40px;
        gap: 20px;
        margin: 15px 0;
    }

    .text-9,
    .text-9-1::after {
        gap: 0;
        flex-direction: column;
    }

    .text-10 {
        width: 70%;
        font-size: 18px;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 35px;
    }

    h2 {
        font-size: 35px;
        width: 100%;
    }

    p {
        font-size: 16px;
    }

    .obs,
    .obs-2 {
        font-size: 16px;
        display: table;
        background-color: #9af532;
        color: #000;
        text-align: center;
        padding: 5px 20px;
        line-height: 2.3;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    a {
        font-size: 16px;
    }

    .list-item {
        grid-template-columns: 16px auto;
        text-align: left;
        margin: 10px 10px 0;
    }
}